<html>
    <header>
        <h1>WELCOME</h1>
        <p>Srividya Ramachandra</p>
        <p>1002008122</p>
      </header>
    <body>
        <form action = "/update" method = "post">
            <form action = "/update" method = "post">
                <p>Enter Name:</p>
                <p><input type = "text" name = "name"></p>
                <p>Enter Salary:</p>
                <p><input type = "number" name = "sal1"></p>
                <p>Enter New Comments:</p>
                <p><input type = "text" name = "text"></p>
    
                <p><input type ="submit" name ="Submit"></p>
          
        </form>
    </body>
</html>